<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Bootstrap -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script defer
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>

<!-- JavaScript -->
<script defer th:src="@{/javascript/script.js}"></script>

<!-- CSS -->
<link th:href="@{/styles/style.css}" rel="stylesheet" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- Bowlby One SC -->
<link
	href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap"
	rel="stylesheet">
<!-- Bowlby One -->
<link
	href="https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap"
	rel="stylesheet">
<!-- Montserrat -->
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
	rel="stylesheet">

<!-- Icons -->
<script src="https://use.fontawesome.com/2740052d05.js"></script>

<!-- Title -->
<title>Biblioteca Abierta</title>
</head>

<body class="body">
	<header class="sticky">

		<!-- TITULO DE LA PAGINA -->
		<div class="title-ba text-stroke">
			<img class="logo-image" th:src="@{/images/LOGO.png}" />
		</div>

		<!-- NAVBAR -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<!-- <a class="navbar-brand" href="#">Navbar</a> -->
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
					aria-controls="navbarNavDropdown" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item"><a
							class="nav-link active btn btn-color btn-navbar"
							aria-current="page" href="/">Home</a></li>
						<li class="nav-item"><a
							class="nav-link btn btn-color btn-navbar" href="/catalogo">Catalogo</a></li>
						<li class="nav-item"><a
							class="nav-link btn btn-color btn-navbar" href="/quienessomos">Quienes
								somos</a></li>
					</ul>
					<div class="nav-item dropdown me-2 ms-auto dropdown-menu-right">
						<a
							class="nav-link dropdown-toggle no-blue btn btn-color font-color-dropdown"
							href="#" id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"> Perfil </a>
						<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end"
							aria-labelledby="navbarDropdownMenuLink">
							<li><a class="dropdown-item " href="/miperfil">Mi perfil</a></li>
							<li><a class="dropdown-item" href="/mislistas">Mis
									listas</a></li>
							<li><a class="dropdown-item" href="/texto/subir">Subir
									texto</a></li>
							<li><a class="dropdown-item" href="#">Cerrar sesion</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<!-- MAIN -->
	<main class="
		container-fluid container-ba">

		<h1>Texto cargado.</h1>
		<div th:object=${text}>
			<p>Autor:</p>
			<ul>
				<li th:text="${text.author}"></li>
			</ul>
			<p>Titulo propiamente dicho:</p>
			<ul>
				<li th:text="${text.title}"></li>
			</ul>
			<p>Titulo paralelo:</p>
			<ul>
				<li th:text="${text.paralelTitle}"></li>
			</ul>
			<p>Titulo alternativo:</p>
			<ul>
				<li th:text="${text.alternativeTitle}"></li>
			</ul>
			<p>Subtitulo:</p>
			<ul>
				<li th:text="${text.subtitle}"></li>
			</ul>
			<p>Variante del titulo:</p>
			<ul>
				<li th:text="${text.variantTitle}"></li>
			</ul>
			<p>D.G.M:</p>
			<ul>
				<li th:text="${text.dgm}"></li>
			</ul>
			<p>Edición:</p>
			<ul>
				<li th:text="${text.edition}"></li>
			</ul>
			<p>Editor:</p>
			<ul>
				<li th:text="${text.editor}"></li>
			</ul>
			<p>Año de publicación:</p>
			<ul>
				<li th:text="${text.publicationDate}"></li>
			</ul>
			<p>Extención:</p>
			<ul>
				<li th:text="${text.extention}"> p.</li>
			</ul>
			<p>Detalles:</p>
			<ul>
				<li th:text="${text.details}"></li>
			</ul>
			<p>Notas:</p>
			<ul>
				<li th:text="${text.notes}"></li>
			</ul>
			<p>Temas:</p>
			<ul>
				<li></li>
			</ul>
		</div>


	</main>

	<!-- FOOTER -->
	<div class="footer-ba bottom"></div>
</body>
</html>