/*CSS PARA PARTES ENTERAS*/

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.title-ba {
	background-color: #ADE9D7;
	color: #FFFFFF;
	font-size: 10rem !important;
	font-family: 'Bowlby One', cursive;
	height: 6rem;
	width: 100%;
	overflow: hidden;
	padding: 0.5rem;
}

.logo-image {
	float: left;
	height: 90%;
}

.main-style {
	font-family: 'Montserrat', sans-serif;
}

.container-ba {
	padding-top: 12rem !important;
	padding: 5%;
	background-color: #ADE9D7;
}

.form-container {
	padding: 0.5%;
	background-color: #E9F9F4;
}

.footer-ba {
	background-color: #99CFBE;
	color: #FFFFFF;
	font-size: 1.5rem !important;
	padding: 2%;
}

.navbar {
	background-color: #99CFBE !important;
	font-family: 'Montserrat', sans-serif;
}

/*PARTECITAS*/
.search-bar {
	padding: 3% !important;
}

.h2, h2 {
	color: #4D6960;
	font-family: 'Bowlby One SC', cursive;
}

/*BOTONES*/
.btn-search {
	font-family: 'Montserrat', sans-serif;
}

.btn-navbar {
	margin-left: 6px;
	border-color: purple;
}

.btn-color {
	background-color: #80678B;
	color: #FFFFFF !important;
}

.btn-color:hover, .btn-pink.active.focus, .btn-pink.active:focus,
	.btn-pink.focus, .btn-pink.focus:active, .btn-pink:active:focus,
	.btn-pink:focus, .btn-pink.active {
	background-color: plum;
	border-color: purple;
}

.btn-submit {
	background-color: green;
}

/* CARDS DEL INDEX */
.card-ba {
	background-color: #E9F9F4 !important;
	color: #FFFFFF !important;
	height: 10rem;
	width: 9rem;
	padding: 1%;
}

.card-letters {
	color: #80678B !important;
	font-family: 'Bowlby One', cursive;
	font-size: 0.7rem;
}

.card-icons {
	padding: 2%;
	color: #4D6960 !important;
}

/*FORMS*/

/*CSS DE DETALLES ESPECIFICOS*/
.text-stroke {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #4D6960;
}

.funt {
	font-family: 'Bowlby One', cursive;
}
