/*CSS PARA PARTES ENTERAS*/
.body-ba {
	color: #FFFFFF;
}

.title-ba {
	background-color: #ADE9D7;
	color: #FFFFFF;
	font-size: 10rem !important;
	font-family: 'Bowlby One', cursive;
	height: 6rem;
	overflow: auto;
	padding: 0.5rem;
}

.logo-image {
	float: left;
	height: 90%;
}

.container-ba {
	padding: 5%;
	background-color: #ADE9D7;
}

.footer-ba {
	background-color: #99CFBE;
	color: #FFFFFF;
	font-size: 1.5rem !important;
	padding: 2%;
}

.navbar {
	background-color: #99CFBE !important;
}

/*PARTECITAS*/
.search-bar {
	padding: 3% !important;
}

.h2, h2 {
	color: #4D6960;
	font-family: 'Bowlby One SC', cursive;
}

/*BOTONES*/
.btn-navbar {
	margin-left: 6px;
}

.btn-color {
	background-color: #80678B;
	border-color: purple;
	color: #FFFFFF !important;
}

.btn-pink:hover, .btn-pink.active.focus, .btn-pink.active:focus,
	.btn-pink.focus, .btn-pink.focus:active, .btn-pink:active:focus,
	.btn-pink:focus, .btn-pink.active {
	background-color: plum;
	border-color: purple;
}

.no-blue, .no-blue:hover {
	color: black !important;
}

/* CARDS DEL INDEX */
.card-ba {
	background: #E9F9F4 !important;
	color: #FFFFFF !important;
	height: 10rem;
	width: 9rem;
	padding: 1%;
}

.card-letters {
	color: #80678B !important;
	font-family: 'Bowlby One', cursive;
	font-size: 0.7rem;
}

.card-icons {
	padding: 2%;
	color: #4D6960 !important;
}

/*CSS DE DETALLES ESPECIFICOS*/
.text-stroke {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #4D6960;
}

.funt {
	font-family: 'Bowlby One', cursive;
}

.font-color-dropdown {
	background-color: #80678B !important;
	color: #FFFFFF !important;
}