/*CSS PARA PARTES ENTERAS*/

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

body{
	min-height: 100vh;
	background-color: #ADE9D7;
	position: relative;
}

.title-ba {
	background-color: #ADE9D7;
	color: #FFFFFF;
	font-size: 10rem !important;
	font-family: 'Bowlby One', cursive;
	height: 6rem;
	width: 100%;
	overflow: hidden;
	padding: 0.5rem;
}

.logo-image {
	float: left;
	height: 90%;
}

main {
	font-family: 'Montserrat', sans-serif;
		padding: 8%;
}

.container-ba {
	padding-top: 12rem !important;
	padding: 10%;
	background-color: #ADE9D7;
	height:100%;
}


.footer-ba {
	background-color: #99CFBE;
	color: #FFFFFF;
	font-size: 1.5rem !important;
	padding: 2%;
	width:100%;
	position: absolute;
	bottom: 0;
	}

.navbar {
	background-color: #99CFBE !important;
	font-family: 'Montserrat', sans-serif;
}

a{
	color: inherit;
	text-decoration: none;
}

a:hover, a:focus {
	color: inherit;
	text-decoration: none;
}

/*PARTECITAS*/
.search-bar {
	padding: 3% !important;
}

.h2, h2 {
	color: #4D6960;
	font-family: 'Bowlby One SC', cursive;
}

.h3, h3 {
	color: #4D6960;
}

.h4, h4 {
	color: #4D6960;
	
}

.qsfont {
	font-size: small !important;
}

.textImage {
	height:80%;
}

.textImageCatalog {
	height: 300px;
}

/*BOTONES*/
.btn-search {
	font-family: 'Montserrat', sans-serif;
}

.btn-navbar {
	margin-left: 6px;
	border-color: purple;
}

.btn-color {
	background-color: #80678B;
	color: #FFFFFF !important;
	border-color: purple;
}

.btn-color:hover, .btn-pink.active.focus, .btn-pink.active:focus,
	.btn-pink.focus, .btn-pink.focus:active, .btn-pink:active:focus,
	.btn-pink:focus, .btn-pink.active {
	background-color: plum;
	border-color: purple;
}

.btn-submit {
	background-color: green;
}

.btn-size{
	width: 80%;
}

/* CARDS DEL INDEX */
.card-catalog {
	background-color: #E9F9F4 !important;
	height: 95%;
	width: 90%;
	padding: 1%;
}

.card-ba {
	background-color: #E9F9F4 !important;
	height: 10rem;
	width: 9rem;
	padding: 1%;
}

.card-background {
	background-color: #E9F9F4 !important;
}

.card-letters {
	color: #80678B !important;
	font-family: 'Bowlby One', cursive;
	font-size: 0.7rem;
}

.card-icons {
	padding: 2%;
	color: #4D6960 !important;
}

.card-title {
	height: 20%;
}

/*FORMS*/

.form-container {
	padding: 0.5%;
	background-color: #E9F9F4;
}

input:invalid,
select:invalid,
textarea:invalid {
  border-color: red;
}

/*CSS DE DETALLES ESPECIFICOS*/
.text-stroke {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #4D6960;
}

.funt {
	font-family: 'Bowlby One', cursive;
}

.required-red{
	color: red;
}

.text-small {
	font-size: x-small ;
}

.asterisco-bold {
	font-weight: bold;
}